@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?99473326');
  src: url('../font/fontello.eot?99473326#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?99473326') format('woff'),
       url('../font/fontello.ttf?99473326') format('truetype'),
       url('../font/fontello.svg?99473326#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?99473326#fontello') format('svg');
  }
}
*/
 
 [class^="ficon-"]:before, [class*=" ficon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.ficon-chronometer13:before { content: '\e800'; } /* '' */
.ficon-eye:before { content: '\e801'; } /* '' */
.ficon-pause-circle-o:before { content: '\e802'; } /* '' */
.ficon-shopping-bag:before { content: '\e803'; } /* '' */
.ficon-upload:before { content: '\e804'; } /* '' */
.ficon-download:before { content: '\e805'; } /* '' */
.ficon-compare:before { content: '\e806'; } /* '' */
.ficon-usd-circle-o:before { content: '\e807'; } /* '' */
.ficon-usd-ban-circle-o:before { content: '\e808'; } /* '' */
.ficon-minus-circle-o:before { content: '\e809'; } /* '' */
.ficon-pencil:before { content: '\e80a'; } /* '' */
.ficon-info-circle-o-1:before { content: '\e80b'; } /* '' */
.ficon-exclamation-mark-circle-o:before { content: '\e80c'; } /* '' */
.ficon-reply:before { content: '\e80d'; } /* '' */
.ficon-search:before { content: '\e80e'; } /* '' */
.ficon-menu:before { content: '\e80f'; } /* '' */
.ficon-sort:before { content: '\e810'; } /* '' */
.ficon-sort-down:before { content: '\e811'; } /* '' */
.ficon-sort-up:before { content: '\e812'; } /* '' */
.ficon-down-open:before { content: '\e813'; } /* '' */
.ficon-left-open:before { content: '\e814'; } /* '' */
.ficon-right-open:before { content: '\e815'; } /* '' */
.ficon-up-open:before { content: '\e816'; } /* '' */
.ficon-pause:before { content: '\e817'; } /* '' */
.ficon-block-1:before { content: '\e818'; } /* '' */
.ficon-align-justify:before { content: '\e819'; } /* '' */
.ficon-star:before { content: '\e81a'; } /* '' */
.ficon-star-empty:before { content: '\e81b'; } /* '' */
.ficon-th-large:before { content: '\e81c'; } /* '' */
.ficon-ok:before { content: '\e81d'; } /* '' */
.ficon-cancel:before { content: '\e81e'; } /* '' */
.ficon-money:before { content: '\e81f'; } /* '' */
.ficon-arrows-cw:before { content: '\e820'; } /* '' */
.ficon-location:before { content: '\e821'; } /* '' */
.ficon-angle-circled-down:before { content: '\e822'; } /* '' */
.ficon-angle-circled-up:before { content: '\e823'; } /* '' */
.ficon-angle-circled-right:before { content: '\e824'; } /* '' */
.ficon-angle-circled-left:before { content: '\e825'; } /* '' */
.ficon-plus-circled:before { content: '\e826'; } /* '' */
.ficon-minus-circled:before { content: '\e827'; } /* '' */
.ficon-ok-circled:before { content: '\e828'; } /* '' */
.ficon-cancel-circled:before { content: '\e829'; } /* '' */
.ficon-block:before { content: '\e82a'; } /* '' */
.ficon-basket:before { content: '\e82b'; } /* '' */
.ficon-help-circled:before { content: '\e82c'; } /* '' */
.ficon-calendar-empty:before { content: '\e82d'; } /* '' */
.ficon-comment:before { content: '\e82e'; } /* '' */
.ficon-ok-circled2:before { content: '\e82f'; } /* '' */
.ficon-link:before { content: '\e830'; } /* '' */
.ficon-attach:before { content: '\e831'; } /* '' */
.ficon-thumbs-up-alt:before { content: '\e832'; } /* '' */
.ficon-thumbs-down-alt:before { content: '\e833'; } /* '' */
.ficon-tumblr-squared:before { content: '\e834'; } /* '' */
.ficon-twitter-squared:before { content: '\e835'; } /* '' */
.ficon-xing-squared:before { content: '\e836'; } /* '' */
.ficon-gplus-squared:before { content: '\e837'; } /* '' */
.ficon-linkedin-squared:before { content: '\e838'; } /* '' */
.ficon-mail-squared:before { content: '\e839'; } /* '' */
.ficon-user:before { content: '\e83a'; } /* '' */
.ficon-pin:before { content: '\e83b'; } /* '' */
.ficon-spinner:before { content: '\e83c'; } /* '' */
.ficon-trash:before { content: '\e83d'; } /* '' */
.ficon-chart-bar-1:before { content: '\e83e'; } /* '' */
.ficon-chart-line:before { content: '\e83f'; } /* '' */
.ficon-chart-area:before { content: '\e840'; } /* '' */
.ficon-clock:before { content: '\e841'; } /* '' */
.ficon-briefcase:before { content: '\e842'; } /* '' */
.ficon-phone:before { content: '\e843'; } /* '' */
.ficon-rejected-user:before { content: '\e844'; } /* '' */
.ficon-lightbulb:before { content: '\e845'; } /* '' */