/* ------------------------------------------
  COLORS
--------------------------------------------- */
@colorDarkBlue: #192930;
@colorPink: #e0116b;


/* ------------------------------------------
  FONTS
--------------------------------------------- */
@fontFaceHeadline: 'Dosis', sans-serif;
@fontRegular: 500;


/* ------------------------------------------
  BASE
--------------------------------------------- */
html {
    font-size: 14px;
}

.grid {
    max-width: 960px;
	float: none;
	overflow: visible;
	margin: 0 auto;
}

.col-1-2 {
  	width: 50%;
}

.col-1-3 {
	width: 33.33%;
    padding: 0 3%;
}

.col-1-4 {
	width: 25%;
}

.col-1-5 {
    width: 20%;
    padding: 0 1% 0 0;
}

.col-1-6 {
	width: 16.66%;
}

.col-1-8 {
	width: 12.5%;
}

.col-2-3 {
 	width: 66.66%;
}

.col-2-5 {
    width: 40%;
    padding-right: 20px;
}

.col-3-5 {
    width: 60%;
}

.blue-box {
    span {
        margin-top: 9px;
    }
}


/* ------------------------------------------
  NAV
--------------------------------------------- */
nav {
    height: 92px;

    /* Lead Menu */
    .nav__lead {
        position: fixed;
        text-align: right;
        padding: 0 4%;

        .nav__content {

            ul {
                float: right;
            }
        }
    }

    /* Main Nav */
    .nav__main {
        position: fixed;
        top: 27px;
        height: 65px;
        padding: 0 4%;

        .nav__logo {
            top: 19px;
            left: 0;
            width: 195px;
        }

        .nav__content {

            .nav__subtitle {
                top: 12px;
                left: 184px;
                width: 162px;
            }

            .btn-login {
                margin: 14px 0 0;
                padding: 8px 25px;
            }

             .nav__menu-button {
                display: none;
            }

            ul.nav__main-menu {
                padding: 22px 0 0 224px;
                top: 0;
                display: block !important; /* Ensures the nav displays after window resize */
            }
            
            li {
                position: relative;
                display: inline-block;
                float: left;
                margin-right: 25px;

                a {
                    font: normal @fontRegular 1.15em @fontFaceHeadline;
                    text-transform: uppercase;
                    padding: 0;
                    border: 0;

                    &:hover {
                       border-bottom: 2px solid @colorPink;
                    }

                    i {
                        top: 10px;
                    }
                }

                > ul {
                    margin: 0;
                    padding: 10px;
                    background-color: @colorDarkBlue;
                    width: 180px;
                    border-radius: 3px;

                    li { 
                        width: 100%;
                        background-color: @colorDarkBlue;

                        a { 
                            text-transform: none;
                            padding: 5px;
                            border-top: 0;

                            &:hover { 
                                background-color: @colorPink;
                                border-bottom: 0;
                            }
                        }
                    }
                }
            }


            li.nav__candidate {
                float: right;
                margin-right: 0;
                margin-top: -6px;

                > a {
                    width: 60px;
                    height: 40px;

                    img {
                        display: block;
                    }

                    .nav__candidate-name {
                        display: none;
                    }

                    &:hover {
                       border-bottom: 0;
                    }
                }
            }
        }
    }
}


/* ------------------------------------------
  LOGIN
--------------------------------------------- */
.page__login {

    .page__body--candidate-login {
        bottom: 0;
        height: 550px;
        left: 0;
        position: absolute;
        top: 0;
        right: 0;
    }
}


/* ------------------------------------------
  APPLICATION PAGES
--------------------------------------------- */
.page__application-wrapper {

    .section {
        padding: 4%;
    }

    .personal__companies {
        .col-1-6 {
            margin-bottom: 0px;
        }

        .companies__sanofi {
            margin-top: -10px;
        }

    }

    .form__invite {
        width: 580px;

        .form__control {
            width: auto;
        }

        .form__control--email {
            margin-bottom: 0px;
            width: 365px;
        }
    }
}


/* ------------------------------------------
  APPLICATION FORM
--------------------------------------------- */
.section__body--profile-form {
    
    .import__profile {
        text-align: left;

        div {
            width: 242px;
        }

        .import__profile--divider {
            width: 115px;
            text-align: center;
        }
    }

    .application-personal-data {
        
        .application-personal-base-data {
            
            .photo-upload {
                width: 22.45%;
            }

            .application-base-information {
                width: 74%;
            }
        }
    }
}


/* ------------------------------------------
  APPLICANT HOME
--------------------------------------------- */
.last-login {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 8px;
}


/* ------------------------------------------
  JOB LIST
--------------------------------------------- */
.job-list__table {
    th:nth-of-type(3), td:nth-of-type(3) {
        width: 17%;
        display: table-cell;
    }

    th:nth-of-type(5), td:nth-of-type(5) {
        width: 5%;
        display: table-cell;
    }
}


/* ------------------------------------------
  APPLICANT JOB SEARCH
--------------------------------------------- */
.page__body--jobs {

    .page__search {

        .job-search__form {
            width: 95%;

            .job-search__submit {
                width: 4.2%;
                position: absolute;
                top: 30px;
                right: 0;

                .btn {
                    padding: 8px 0;
                    width: 100%;
                }
            }
        }
    }
}


/* ------------------------------------------
  PROFILE PAGES
--------------------------------------------- */
.grey-box {
    text-align: left;

    img {
        padding: 0;
    }
}


/* ------------------------------------------
  TWEAKPOINTS (.. OR MINOR BREAKPOINTS)
--------------------------------------------- */
@media only screen and (min-width: 1100px) {
    .application-list__table {
        th:nth-of-type(3), td:nth-of-type(3) {
            width: 15%;
            display: table-cell;
        }

        th:nth-of-type(4), td:nth-of-type(4) {
            display: table-cell;
            width: 8%;
        }

        th:nth-of-type(7), td:nth-of-type(7) {
            width: 16%;
        }

        .btn{
            margin: 0 3px;
        }
    }
}

@media only screen and (min-width : 1920px) {
    .page__application-wrapper .section {
        padding: 2%;
    }
}