/* ------------------------------------------
  COLORS
--------------------------------------------- */
@colorLightBlue: #cdecf6;
@colorDarkBlue: #192930;
@colorUltraDarkBlue: #101d23;
@colorTurquoise: #3aa79e;
@colorGrey: #eef1f2;
@colorDarkGrey: #8c9497;
@colorGreyBorder: #dce1e2;
@colorPink: #e0116b;
@colorWhite: #fff;


/* ------------------------------------------
  FONTS
--------------------------------------------- */
@fontFaceHeadline: 'Dosis', sans-serif;
@fontFaceText: 'Open Sans', sans-serif;
@fontSuperLight: 200;
@fontUltraLight: 300;
@fontLight: 400;
@fontRegular: 500;
@fontMedium: 600;
@fontSemiBold: 700;
@fontBold: 800;
@fontExtraLarge: 2em;


/* ------------------------------------------
  MISC
--------------------------------------------- */
@defaultRadius: 3px;


/* ------------------------------------------
  MIXINS
--------------------------------------------- */
.Radius(@tlr:@defaultRadius,@trr:@defaultRadius,@blr:@defaultRadius,@brr:@defaultRadius) {
    -webkit-border-top-left-radius: @tlr;
    -webkit-border-top-right-radius: @trr;
    -webkit-border-bottom-right-radius: @brr;
    -webkit-border-bottom-left-radius: @blr;
    -moz-border-radius-topleft: @tlr;
    -moz-border-radius-topright: @trr;
    -moz-border-radius-bottomright: @brr;
    -moz-border-radius-bottomleft: @blr;
    border-radius: @tlr,@trr,@brr,@blr;
    border-top-left-radius: @tlr;
    border-top-right-radius: @trr;
    border-bottom-right-radius: @brr;
    border-bottom-left-radius: @blr;
}

.LinkTrans {
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
}

.Link (@linkcolor:@colorTurquoise) {
    color: @linkcolor;
    .LinkTrans;
    text-decoration: none;

    &:hover {
        color: darken(@linkcolor, 10%);
    }
}

.Button(@radius:@defaultRadius,@colorBackground:@colorTurquoise,@width:auto,@textColor:@colorWhite;@btnPadding:10px 20px;) {
    .Radius(@radius,@radius,@radius,@radius);
    color: @textColor;
    background-color: @colorBackground;
    display: inline-block;
    text-align: center;
    padding: @btnPadding;
    .LinkTrans;
    font-weight: @fontUltraLight;
    &:hover {
        background-color: darken(@colorBackground, 5%);
        color: @textColor;
    }
}


/* ------------------------------------------
  BASE
--------------------------------------------- */
html {
    box-sizing: border-box;
    background-color: @colorWhite;
    font-size: 13px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font: normal @fontLight 1em @fontFaceText;
    color: @colorDarkBlue;
    line-height: 1.6;
}

h1 {
    font: normal @fontLight 1.85em @fontFaceHeadline;
    color: @colorWhite;
    margin: 0;
}

h2 {
    font: normal @fontLight 1.5em @fontFaceHeadline;
    margin: 0 0 0.9em;
    color: @colorTurquoise;
}

h3 {
    margin: 7px 0 0 0;
    font-size: 1.1em;
}

h3:first-of-type {
    margin-top: 0px;
}

p {
    margin: 0 0 20px 0;
    padding: 0;
    color: @colorDarkGrey;

    span {
        font-weight: @fontMedium;
    }
}

a {
    .Link;
}

img {
    max-width: 100%;
    height: auto;
}

ul {
    margin: 0;
    padding: 0;
}

table {
    width: 100%;
    color: @colorDarkGrey;
}

tr {
    padding: 0.25em;
    text-align: left;
    border-bottom: 1px solid @colorGrey;
}

th, td {
    padding: 1em 0.5em; 
    text-align: left;
    font-weight: 400;
}

th {
    color: @colorTurquoise;
    padding-top: 0.5em;
    padding-bottom: 0.5em;

    i {
       font-size: 0.75em;
    }
}

input, optgroup, select, textarea {
    width: 100%;
    border: 0;
    .Radius;
}

select, 
textarea, 
input[type="text"], 
input[type="password"], 
input[type="datetime"], 
input[type="datetime-local"], 
input[type="date"], 
input[type="month"], 
input[type="time"], 
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    line-height: 20px;
    margin-bottom: 0;
    margin-top: 3px;
    background-color: @colorGrey;
    height: 37px;
    padding: 5px 10px;
    color: @colorDarkBlue;
    
    &.input-block-level {
        min-height: 35px;
    }
}

input[type=button],
input[type=checkbox],
input[type=file],
input[type=image],
input[type=radio],
input[type=reset],
input[type=submit] {
    width: auto;
}

input[type=checkbox], input[type=radio] {
    margin: 5px 0 0;
}

.checkbox, .radio {
    min-height: 16px;
    padding-left: 20px;
}

.checkbox input[type=checkbox], .radio input[type=radio] {
    float: left;
    margin-left: -20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
}

textarea {
    height: auto;
}

button {
    border: 0;
}

header {
    position: relative;
}

.section {
    padding: 30px 4% 4%;
}

.section-lightblue {
    background-color: @colorLightBlue;
}

.section-grey {
    background-color: @colorGrey;
}

.section-turquoise {
    background-color: @colorTurquoise;
    padding: 12px 4%;
}

.grid:after {
    content: "";
    display: table;
    clear: both;
}

[class*='col-'] {
    float: left;
}

/* Opt-in outside padding */
.grid-pad {
    padding: 20px;
}

.col-1-1 {
    width: 100%;
    position: relative;
}

.col-1-2 {
    width: 100%;
}

.col-1-3 {
    width: 100%;
}

.col-1-4 {
    width: 100%;
}

.col-1-5 {
    width: 100%;
}

.col-1-6 {
    width: 100%;
}

.col-1-8 {
    width: 100%;
}

.col-2-3 {
    width: 100%;
}

.col-2-5 {
    width: 100%;
}

.col-3-5 {
    width: 100%;
}

.module {
    padding: 20px;
    background: #eee;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}
 
.clearfix:after {
    clear: both;
}
 
.clearfix {
    zoom: 1; /* ie 6/7 */
}

.left {
    text-align: left;
}

.central {
    text-align: center;
}

.right {
    text-align: right;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.bottom-pad0 {
    padding-bottom: 0 !important;
}

.bottom-marg20 {
    margin-bottom: 20px !important;
}

.bottom-marg30 {
    margin-bottom: 30px !important;
}

.bottom-marg40 {
    margin-bottom: 40px !important;
}

.bottom-marg60 {
    margin-bottom: 60px !important;
}

.left-pad0 {
    padding-left: 0 !important;
}

.right-pad0 {
    padding-right: 0 !important;
}

.right-pad20 {
    padding-right: 20px !important;
}

.top-marg30 {
    margin-top: 30px !important;
}

.color-dark-grey {
    color: @colorDarkGrey !important;
}

.color-white {
    color: @colorWhite !important;
}

.color-pink {
    color: @colorPink !important;
}

.color-turquoise {
    color: @colorTurquoise !important;
}

.color-dark-blue {
    color: @colorDarkBlue !important;
}

a.color-pink {
    .Link (@linkcolor:@colorPink) !important;
}

a.color-dark-grey {
    .Link (@linkcolor:@colorDarkGrey) !important;
}


.btn-turquoise {
    .Button;
}

.btn-grey {
    .Button(@colorBackground:@colorDarkGrey);
}

.btn-dark-blue {
    .Button(@colorBackground:@colorDarkBlue);
}

.header-medium {
    font-size: 1.65em;
}


.header-large {
    color: @colorDarkBlue;
    font-size: 2.85em;
    font-weight: 300;
    margin: 0 0 .9em;
}

.p-large {
    color: @colorDarkBlue;
    font-size: 1.15em;
    font-weight: 300;
}

.slim {
    font-weight: @fontUltraLight;

    strong {
        font-weight: @fontLight;
    }
}

.extra-large {
    font: normal @fontLight 2.15em @fontFaceHeadline;
    line-height: 1.6;
}

.full-width {
    width: 100%;
}

.a-underline {
    text-decoration: underline;
}

.blue-box {
    font: normal @fontLight 1.25em @fontFaceHeadline;
    background-color: @colorLightBlue;
    .Radius;
    color: @colorDarkBlue;
    padding: 5px;

    i {
       font-size: 1.7em;
        display: block;
        float: left;
        width: 43px;
    }

    span {
        display: block;
        float: left;
        width: 80%;
    }

    
}

.grey-box {
    background-color: @colorGrey;
    padding: 18px;
    margin-bottom: 20px;
    text-align: center;
    .Radius;

    img {
        padding: 0 0 18px 0;
    }

    h3 {
        margin-bottom: 20px;
    }

    p {
        color: @colorDarkBlue;
    }

    p:last-of-type {
        margin-bottom: 0;
    }
}

.control-group {
    margin-bottom: 20px;
}

::-webkit-input-placeholder { color: @colorDarkGrey; }
::-moz-placeholder { color: @colorDarkGrey; }
:-ms-input-placeholder { color: @colorDarkGrey; }
input:-moz-placeholder { color: @colorDarkGrey; }


/* ------------------------------------------
  NAV
--------------------------------------------- */
nav {
    height: 73px;

    /* Lead Menu */
    .nav__lead {
        position: relative;
        z-index: 100;
        width: 100%;
        top: 0;
        left: 0;
        background-color: @colorUltraDarkBlue;
        font: normal @fontLight 0.95em @fontFaceHeadline;
        text-transform: uppercase;
        height: 27px;

        .nav__content {
            width: 100%;
            text-align: center;
            margin: 0 auto; 

            ul {
                display: inline-block; 
                list-style: none;
                zoom: 1;

                li {
                    display: inline-block;
                    padding: 5px 0 5px 15px;
                    margin-left: 15px;
                    float: left;
                }

                li:first-child {
                    margin-left: 0;
                    border: none;
                    padding-left: 0;
                }
            }
            
            a {
                color: #617880;
                .LinkTrans;
                
                &:hover {
                    color: #f6f6f6;
                }
            }

            .ficon-pin:before {
                -ms-transform: rotate(320deg);
                -moz-transform: rotate(320deg);
                -webkit-transform: rotate(320deg);
                transform: rotate(320deg);
            }
            
            .nav__flags {
                float: left;
                width: 18px;
                margin-left: 5px;
                margin-top: -3px;

                a {
                    opacity: 0.8;
                    
                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }
    }

    /* Main Nav */
    .nav__main {
        position: relative;
        z-index: 100;
        width: 100%;
        height: 46px;
        background-color: @colorDarkBlue;

        .nav__logo {
            position: absolute;
            top: 9px;
            left: 4%;
            width: 176px;
            z-index: 100;
        }

        .nav__content {

            .nav__subtitle {
                position: absolute;
                top: 4px;
                left: 196px;
                width: 130px;
                height: auto;
            }

            .btn-login {
                text-transform: uppercase;
                font: normal @fontUltraLight 1.15em @fontFaceHeadline;
                margin: 8px 4% 0 0;
                padding: 4px 15px;
            }

            .nav__menu-button {
                position: absolute;
                right: 0px;
                top: 0px;
                padding: 8px 4%;
                color: #FFFFFF;
                cursor: pointer;
                text-align: center;

                .icon-bar {
                    background-color: #f6f6f6;
                    border-radius: 2px 2px 2px 2px;
                    display: block;
                    height: 2px;
                    width: 20px;
                    margin: 5px 0;
                }
            }

            ul {    
                list-style-type: none;
                margin: 0;
                padding: 0;
                width: 100%;
                display: none;
                position: relative;
                top: 43px;

            }

            li {
                position: relative;
                display: block;
                background-color: @colorDarkBlue;

                a {
                    display: block;
                    border-top: 1px solid @colorUltraDarkBlue;
                    font: normal @fontLight 1.1em @fontFaceText;
                    padding: 13px 4%;
                    color: #fff;

                    i {
                        position: absolute;
                        top: 17px;
                        right: 4%;
                        font-size: 0.65em;

                    }
                }

                ul {
                    margin: 0;
                    list-style-type: none;

                    li {
                        width: 100%;
                        background-color: @colorUltraDarkBlue;

                        a {
                            border-top: 1px solid @colorDarkBlue;
                        }
                    }
                }

                > ul {
                    display: none;
                    position: absolute;
                    right: 0;
                    top: 100%;
                    z-index: 999;
                }
            }


            li.nav__candidate {
                > a {
                    img {
                        display: none;
                    }
                }
            }
        }
    }
}


/* ------------------------------------------
  LOGIN
--------------------------------------------- */
.page__login {
    background-color: @colorDarkBlue;

    .page__body--candidate-login {
        margin: auto;
        width: 280px;

        .control-group {
            text-align: left;
        }

        label {
            color: @colorWhite;
        }

        .btn-turquoise {
            padding-top: 5px;
            padding-bottom: 5px;
        }

        a {
            font-size: 0.9em;
        }

        a.btn-login {
            text-decoration: underline;
        }
    }
}


/* ------------------------------------------
  APPLICATION PAGES
--------------------------------------------- */
.page__application-wrapper {
    .section {
        padding: 5%;
    }

    .page__header--personal-landing {
        background: #d1f0fa url("../img/application-lead-bg.gif") repeat-x bottom;
    }


    .personal__companies, .application__companies {
        .col-1-6 {
            margin-bottom: 20px;
        }
    }

    .form__invite {
        width: 100%;
        margin: 0 auto 7%;

        .form__control {
            width: 100%;
        }

        .form__control--email {
            margin-bottom: 20px;

            input {
                height: 51px;
                margin-top: 0;
            }
        }

        .form__control--create-profile {
            text-align: center;
        }

        .btn-create-profile {
            text-transform: uppercase;
            font: normal @fontUltraLight 1.1em @fontFaceHeadline;
            padding: 15px 25px;
        }

        .form__control--create-profile {
            text-align: center;
        }
    }

    .application__jobs {
        h3 {
            font: normal @fontRegular 1.65em @fontFaceHeadline;
        }
    }
}


/* ------------------------------------------
  PROFILE FORM
--------------------------------------------- */
.input-block-level {
    display: block;
    min-height: 35px;
}

.text-overflow() {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.section__body--profile-form {
    max-width: 600px;
    margin: 0 auto;

    .import__profile {
        text-align: center;

        div {
            width: 100%;
            margin-bottom: 20px;
        }

        .import__profile--divider {
            text-transform: uppercase;
            height: 35px;
            line-height: 35px;
        }

        .import__profile-caption {
            padding-top: 20px;
            border-top: 1px solid @colorGreyBorder;
            display: block;
            clear: both;
        }
    }

    input.input-email {
        background-position: 7px 6px;
    }

    .application-edit-section {
        padding-top: 20px;
        margin-top: 20px;
        border-top: 1px solid @colorGreyBorder;

        > header {
            font-weight: 600;
            margin-bottom: 10px;

            .desc {
                font-weight: normal;
                font-size: 10px;
            }
        }
    }
    
    .application-personal-data {
        padding-top: 0 !important;
        border: 0 !important;
        
        .toggle-details-link {
            float: right;
            font-weight: normal;
        }
        
        .application-personal-base-data {
            .clearfix();
            
            .photo-upload {
                float: left;
                width: 100%;
                margin-right: 3.55%;
                
                .drag-and-drop-area {
                    .Radius;
                    min-height: 120px;
                    text-align: center;
                    border: 2px dotted #babfc1;
                    background-color: @colorGrey;
                    max-width: 135px;
                    margin-bottom: 20px;

                    .upload-stage .upload-no-data {
                        font-size: 0.85em;
                        color: @colorDarkGrey;

                        .ficon-upload:before {
                            font-size: 3em;
                        }

                        .upload-hint-fb {
                            display: none;
                        }
                    }
                }
                
                .upload-preview {
                    margin: 5px;
                }
                
                .upload-no-data {
                    margin: 50px 10px;
                }
                
                .fallback-upload-container {
                    display: none;      
                }
            }
            
            .application-base-information {
                float: right;
                width: 100%;
            }
            
            .input-name-container {
                .clearfix();
            }
            
            .input-group-firstname, .input-group-lastname, .input-group-salutation, .input-group-title {
                width: 47.5%;
                float: left;
            }
            
            .input-group-firstname, .input-group-salutation {
                margin-right: 5%;
            }
        }
        
        .application-personal-details-data {
            .clearfix();
            
            .control-group {
                width: 48.125%;
            }
            
            .input-street-group,
            .input-city-group,
            .input-zip-group,
            .input-country-group {
                float: left;
            }
            
            .input-street-group,
            .input-zip-group {
                margin-right: 3.75% 
            }
            
            .input-phone-group {
                padding-top: 20px;
            }
            
            .input-zip-group,
            .input-country-group {
                margin-bottom: 0;
            }
        }
    }
    
    .application-profile-data {
        .radio {
            min-height: 20px;
            line-height: 24px;
            padding: 4px 0 4px 20px;
            margin-bottom: 0;
        }
        
        .application-profile-upload {
            border-bottom: 1px solid #dde2e3;
            padding-bottom: 5px;
            margin-bottom: 5px;
        }
        
        .upload-application-data-container {
            padding: 5px 0 15px 0;
        }
        
        .application-profile-manual-fill {
            
            select , textarea , input[type="text"] , input[type="password"] , input[type="datetime"] , input[type="datetime-local"] , input[type="date"] , input[type="month"] , input[type="time"] , input[type="week"] , input[type="number"] , input[type="email"] , input[type="url"] , input[type="search"] , input[type="tel"] , input[type="color"] , .uneditable-input {
                .input-block-level();
                background-color: @colorWhite;
            }
            
            .application-manual-profile-section {
                position: relative;
                background: @colorGrey;
                padding: 10px;
                overflow: hidden;
                .Radius;
                margin-top: 10px;
                
                &:first-child {
                    margin-top: 0;
                }
                
                > header {
                    font-weight: 600;
                }
                
                .rpg-new {
                    margin: 20px 0 10px 0;
                }
                
                .rpg-lst {
                    .rpg-itm {
                        margin-bottom: 10px;
                    
                        &:last-child {
                            margin-bottom: 30px;
                        }               
                    }
                }
                
                .profile-panel-container {
                    .profile-panel-add-link {
                        position: absolute;
                        right: 10px;
                        bottom: 10px;
                    }
                    
                    .profile-panel-add-panel {
                        .btn-primary {
                            float: right;
                        }
                    }
                    
                    .profile-panel-view-panel {
                        margin: 10px 0 20px 0;
                        background: @colorWhite;
                        padding: 10px;
                        position: relative;
                        border: 1px solid #e2e8e9;
                        .Radius;
                        
                        .view-panel-header {
                            font-weight: 600;
                        }
                        
                        .view-panel-edit-link {
                            position: absolute;
                            top: 10px;
                            right: 35px;
                        }
                        
                        .view-panel-remove-link {
                            position: absolute;
                            top: 10px;
                            right: 10px;
                        }
                    }
                }
            }
            
            .two-columns {
                .clearfix();
                
                .control-group {
                    float: left;
                    width: 100%;
                }
                
                .left-column,
                .right-column {
                    width: 48.075%;
                    float: left;
                }
                
                .left-column {
                    margin-right: 3.85%;
                }
            }
            
            .application-profile-education {
                .edu-grp-from,
                .edu-grp-to {
                    width: 46%;
                }
                
                .edu-grp-from {
                    margin-right: 8%;
                }
            }
            
            .edit-exp-panel {
                margin: 20px 0 10px 0;
                
                .cg-e-from,
                .cg-e-to {
                    width: 46%;
                }
                
                .cg-e-from {
                    margin-right: 8%;
                }
                
                .btn-save {
                    float: right;
                }
            }
            
            .application-profile-additional {
                .btn-upload:extend(.btn-small all) {
                    padding-left: 30px;
                    background-position: 7px 4px;
                }
                
                .toggle-additional-info-link {
                    color: @colorDarkBlue;
                    display: block;
                    
                    .ficon-down-open {
                        float: right;
                        color: @colorTurquoise;
                    }
                }
                
                .application-coverletter,
                .application-attachments-section {
                    margin: 10px 0;
                }

                .control-group {
                    .clearfix();
                    
                    .control-label,
                    .controls {
                        float: left;
                    }
                    .control-label {
                        width: 22.5%;
                        margin-right: 2.5%;
                    }
                    .controls {
                        width: 75%;         
                    }
                }
                
                .attachment-list-panel {
                    margin-top: 10px;

                    .btn-upload {
                        .Button(@colorBackground:@colorDarkGrey,@btnPadding: 3px 9px);
                        font-size: 0.9em;
                        font-weight: @fontLight;
                    }
                }

                .attachment-list-panel .attachment-lst .attachment {
                    .attachment-link{
                        background: @colorWhite;
                    }
                    
                    &:hover .attachment-link {
                        background-color: #e2e7ea;
                    }
                }
            }
            
            .application-profile-language {
                
                > header {
                    margin-bottom: 10px;
                }
                
                .rpt-lst .rpt-itm {
                    margin-bottom: 10px;
                }
                
                .language-entry {
                    .clearfix();
                    
                    .language-input-grp {
                        float: left;
                        width: 94%;
                        margin-right: 1%;
                        
                        .language,
                        .skill {
                            float: left;
                            width: 48%;
                        }
                        
                        .language {
                            margin-right: 4%;
                        }
                    }
                    
                    .remove-language-link,
                    .add-language-link {
                        float: left;
                        width: 5%;
                        display: block;
                        text-align: right;
                        margin-top: 10px;
                    }
                    
                    .remove-language-link {
                        color: @colorPink;
                    }
                }
                
                .language.uneditable-input {
                    color: @colorDarkBlue;
                }
            }
        }
    }
    
    .application-privacy {
        span {
            display: block;
            color: @colorDarkGrey;
        }
    }

    .position-link {
        .text-overflow ();
        display: block;
    }

    .drag-and-drop-upload-panel .fallback-upload-container, .progress-upload-panel .upload-form, .progress-upload-panel .upload-form .upload-submit-button {
        display: none;
    }

    .upload-hint-fb-ie, .upload-new-image-link-ie {
        display: none!important;
    }

    .settings__delete {
        p {
            color: @colorDarkBlue;
        }
    }
}

.profile__edit {
    .section__body--profile-form {
        margin: 0;
    }
}

/* ------------------------------------------
  APPLICANT HOME
--------------------------------------------- */
.last-login {
    display: block;
    font-size: 0.85em;
    color: @colorWhite;
    margin-top: 2px;
}

.page__body--candidate-home {
    h2 {
        border-bottom: 1px solid @colorGrey;
        margin-top: 35px;
        padding-bottom: 10px;
    }
}


/* ------------------------------------------
  JOB LIST TABLE
--------------------------------------------- */
.job-list__table {
    td:nth-of-type(1) {
        width: 11%;
    }

    td:nth-of-type(2) {
        width: 45%;
        font-size: 1.1em;
        font-weight: 600;
        color: @colorDarkBlue;
    }

    th:nth-of-type(3), td:nth-of-type(3) {
        display: none;
    }

    th:nth-of-type(4), td:nth-of-type(4) {
        display: none;
    }

    th:nth-of-type(5), td:nth-of-type(5) {
        display: none;
    }

    tbody tr:hover {
        background: @colorGrey;
        cursor: pointer;
        .LinkTrans;
    }

    img {
        max-width: 75px;
        max-height: 35px;
    }
}


/* ------------------------------------------
  APPLICANT JOB SEARCH
--------------------------------------------- */
.page__body--jobs {
    border-top: 1px solid #34968e;

    .page__search {

        .job-search__form {
            label {
                color: @colorWhite;
            }

            .controls {
                margin-bottom: 10px;
            }

            input, select {
                background-color: @colorWhite;
                font-size: 0.9em;
            }

            select {
                padding-right: 0;
            }

            .job-search__submit {
                
                .btn {
                    width: 100%;
                }
            }
        }
    }

    .job-search__map {
        #map_canvas {
            width: 100%;
            height: 200px;

            img {
                max-width: none;
            }
        }
    }
}
 

/* ------------------------------------------
  PROFILE PAGES
--------------------------------------------- */
.page__body--preview {
    section {
        border-bottom: 1px solid @colorGreyBorder;
        padding: 0;
        margin-bottom: 20px;
    }

    span {
        display: block;
    }

    ul {
        margin: 0 0 20px 0;
        padding-left: 20px;
        color: @colorDarkGrey;
    }

    strong {
        color: @colorDarkBlue;
    }

    .profile__details {
        border-bottom: 0;
    }

    .profile__edit {
        position: absolute;
        bottom: 0;
        right: 0;
        font-weight: 600;
    }
}


/* ------------------------------------------
  APPLICATION LIST
--------------------------------------------- */
.application-list__table {

    td:nth-of-type(1), th:nth-of-type(1) {
        display: none;
    }

    td:nth-of-type(2) {
        width: 32%;
        font-size: 1.1em;
        font-weight: 600;
        color: @colorDarkBlue;
    }

    th:nth-of-type(3), td:nth-of-type(3) {
        display: none;
    }

    th:nth-of-type(4), td:nth-of-type(4) {
        display: none;
    }

    th:nth-of-type(5), td:nth-of-type(5) {
        width: 10%;
        line-height: 1.2em;
        font-size: 0.95em;
    }

    th:nth-of-type(6), td:nth-of-type(6) {
        width: 5%;
    }

    th:nth-of-type(7), td:nth-of-type(7) {
        width: 7%;
    }

    tbody tr:hover {
        background: @colorGrey;
        cursor: pointer;
        .LinkTrans;
    }

    img {
        max-width: 75px;
        max-height: 35px;
    }

    .btn {
        font-size: 0.85em;
        padding: 4px 8px !important;
        margin: 3px 0;
    }
}

/* ------------------------------------------
  FOOTER
--------------------------------------------- */
footer {
    border-top: 1px solid @colorGreyBorder;
    padding: 10px 4%;
    font-size: 0.7em;
    color: @colorDarkGrey;

    li {
        display: inline-block;
        float: left;
        margin-right: 15px;
        list-style-type: none;
    }

    .col-1-2 {
        width: 50%;
    }
}


/* ------------------------------------------
  CHOSEN JQUERY PLUGIN OVERIDES
--------------------------------------------- */
.chosen-container {
    margin-top: 3px;

    .chosen-drop {
        border: 0;
        background: #fff;
        .Radius(0,0,3px,3px);
        margin-top: -1px;
    }

    .chosen-results {
        margin: 0;
        padding: 0;

        li {
            padding: 8px;
        }

        li.highlighted {
            background-color: @colorGrey;
            background-image: none;
            color: @colorDarkBlue;
        } 
    }
}

.chosen-container-single {

    .chosen-single {
        border: 0;
        padding: 5px 10px; 
        background-color: @colorWhite;
        background-image: none;
        .Radius;
        height: auto;
        line-height: 25px;

        span {
            margin: 1px 0;
        }

        div b {
            background-position: 0px 8px;
        }
    }
}

.chosen-container-multi {
    .chosen-choices {
        border: 0;
        padding: 5px 10px;
        background-color: @colorWhite;
        background-image: none;
        .Radius;

        li.search-field input[type="text"] {
            color: @colorDarkGrey;
            opacity: 0.8;
        }

        li.search-choice {
            border: 1px solid @colorDarkGrey;
            max-width: 100%;
            border-radius: 3px;
            background-color: @colorDarkGrey;
            background-image: none;
            background-size: auto;
            background-repeat: no-repeat;
            box-shadow: none;
            color: @colorWhite;
        }
    }
}

.chosen-container-active.chosen-with-drop { 
    .chosen-single {
        border: 0;
        -moz-border-radius-bottomright: 0;
        border-bottom-right-radius: 0;
        -moz-border-radius-bottomleft: 0;
        border-bottom-left-radius: 0;
        background-image: none;
        box-shadow: none;

        div b {
            background-position: -18px 8px;
        }
    }
}


/* ------------------------------------------
  TWEAKPOINTS (.. OR MINOR BREAKPOINTS)
--------------------------------------------- */
@media only screen and (min-width: 480px) {
    .job-list__table {
        th:nth-of-type(4), td:nth-of-type(4) {
            display: table-cell;
            width: 17%;
        }
    }

    .application-list__table {
        th:nth-of-type(1), td:nth-of-type(1) {
            width: 10%;
            display: table-cell;
        }
    }
}

@media only screen and (max-width: 480px) {
    .nav__subtitle {
        display: none;
    }
}